@model IEnumerable<Customers.Models.Customer>

    <h1>@ViewBag.Title</h1>

    @*Customer dialog*@
    <div id="dialog_customer" title="Customer" style="display:none;">
        <form method="POST" id="form_customer" action="javascript:void(null);" onsubmit="SaveChanges(true)">
            <table class="fields">
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="CustomerName" value="" autofocus required /></td>
                </tr>
                <tr><td><input name="CustomerId" type="hidden"></td></tr>
                <tr>
                    <td>Business type:</td>
                    <td>
                        <select name="BusinessTypeName">
                            @foreach (var e in ViewBag.BusinessTypes)
                            {
                                <option>@e.BusinessTypeName</option>
                            }
                        </select>
                    </td>
                </tr>

            </table>

            <div id="bankaccounts_table_div">
            </div>

            <div id="dialog_customer_panel">
                <tr>
                    <td><input name ="SaveAndCloseButton" type="submit" value="Записать и закрыть" class="btn btn-default" /></td>
                    <td><input name ="SaveButton" type="button" value="Записать" class="btn btn-default" /></td>
                    <td><input type="button" value="Закрыть" class="btn btn-default" name="close" onclick="$('#dialog_customer').dialog('close')" /></td>
                </tr>
            </div>

            <div id="dialog_customer_divmsg"></div>
        </form>
    </div>

<div id="customers_panel">
    @*Командная панель с кнопками управления таблицей*@
    <input name = "AddButton" type="button" value="Добавить" autofocus class="btn btn-default" />
    <input name = "EditButton" type="button" value="Изменить"  class="btn btn-default" />
    <input name = "DeleteButton" type="button" value="Удалить" class="btn btn-default" />
</div>

@*Таблица с контрагентами*@
<div id="customers_table_div">
    @Html.Partial("_CustomersTable", Model)
</div>


<script>
    System.import('app/customers.index.js');
</script>