@model IEnumerable<Customers.Models.Customer>

    <h1>@ViewBag.Title</h1>

    @*Customer dialog*@
    <div id="dialog_customer" title="Customer" style="display:none;">
        <form method="POST" id="form_customer" action="javascript:void(null);" onsubmit="SaveChanges(true)">
            <table class="fields">
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="CustomerName" value="" autofocus required /></td>
                </tr>
                <tr><td><input name="CustomerId" type="hidden"></td></tr>
                <tr>
                    <td>Business type:</td>
                    <td>
                        <select name="BusinessTypeName">
                            @foreach (var e in ViewBag.BusinessTypes)
                            {
                                <option>@e.BusinessTypeName</option>
                            }
                        </select>
                    </td>
                </tr>

            </table>

            <div id="bankaccounts_table_div">
            </div>

            <tr>
                <td><input type="submit" value="Записать и закрыть" class="btn btn-default" /></td>
                <td><input type="button" value="Записать" onclick="SaveChanges(false)" class="btn btn-default" /></td>
                <td><input type="button" value="Закрыть" class="btn btn-default" name="close" onclick="$('#dialog_customer').dialog('close')" /></td>
            </tr>
            <div id="dialog_customer_divmsg"></div>
        </form>
    </div>

    <div>
        @*Командная панель с кнопками управления таблицей*@
        <input type="button" value="Добавить" onclick="NewClick()" autofocus class="btn btn-default" />
        <input type="button" value="Изменить" onclick="EditClick()" autofocus class="btn btn-default" />
        <input type="button" value="Удалить" onclick="DeleteClick()" autofocus class="btn btn-default" />

        @*Невидимый элемент ввода, для получения фокуса на таблицу, для клавиатурного ввода*@
        <div id="customers_table_div">
            @Html.Partial("_table", Model)
        </div>
    </div>

    <script src="~/app/customers.index.js"></script>
    <script src="~/app/customers.dialog.js"></script>

    <script type="text/javascript" language="javascript">

        @*Нажатие на кноку Удалить*@
        function DeleteClick() {
            customers_table.Delete();
        };

        @*Нажатие на кнопку Изменить*@
        function EditClick() {
            customers_table.Edit();
        }

        @*Press New button*@
        function NewClick() {
            OpenEditDialog(true);
          }

    </script>

    <style>
        @*Стиль для подсвечивания строки таблицы*@ .table-striped tbody tr.highlight td {
            background-color: bisque;
        }
    </style>